

#loginheader {
	text-align: center;
	height: 40%;
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid white;
}

#loginheader h1 {
	position: relative;
	top: 46%;
	transform: 	translateY(-50%);
	font-variant: small-caps;
	font-size: 6em;
}

.Logoheader {
	text-align: center;
	height: 80%;
}

.mainLogin {
	height: 60%;
	position: relative;
	padding-top: 10%;
	text-align: center;
	background: #34495e;
}

.submitButton {
	width: 200px;
	margin-top: 0.5em;
	border-radius: 5px;
	border: none;
}

.signupButton {
	border: none;
	border-radius: 5px;
	width: 100px;
}

#userLogin {
	height: 100%;
}

.inputform {
	width: 200px;
	margin-top: 0.5em;
	border-radius: 5px;
	border: none;
	padding-left: 0.5em;
}

.footer {
	height: 20%;
	background: #34495e;
	text-align: center;
}

@media only screen and (max-width: 780px) {

.mainLogin {
	padding-top: 15%;
}

#loginheader h1 {
	font-size: 4em;
}
}		
