html,body{
	min-height: 100%;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	
}


.container {
    margin-left: auto;
	margin-right: auto;
	max-width: 1026px;
	width: 100%;
	overflow: hidden;
	background:#95a5a6;
	height:100%;
	position: relative;
	display: block;
	padding: 0.2em;
	
	


}
.header{
	background:#d35400;
	width: 100%;
	height: 10%;
	position: relative;
	
	overflow:hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;
	vertical-align: middle;

}


.header-text{
	width:90%;
	height:100%;
	float:left;
	margin:auto;

}

.header-text h1{
	
	margin-left: 11%;
}

.header-settings{
	width:10%;
	height:100%;
	float:left;

}
.header-settings h1{
	
}

.graf{
	background:#ecf0f1;
	width: 100%;
	height: 45%;
	
	overflow:hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;

}

.grafbutton{
	position: absolute;
	top:11%;
	z-index: 999;
	height:5%;
	width:5%;
	cursor: pointer;

}
.grafbutton:hover{
	-moz-box-shadow: 0 0 10px #ccc;
	 -webkit-box-shadow: 0 0 10px #ccc;
	 box-shadow: 0 0 10px #ccc;

}

#haegri{
	left:93%;}

#vinstri{
	left:2%;
}

.lyfvalinn{
	
	width:50%;
	
	height: 30%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}

.lyf{
	background:#27ae60;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:100%;
	height:20%;
	border:1px solid #2ecc71;
	font-weight: strong;
	
}
.lyf2{
	background:#c0392b;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:100%;
	height:20%;
	border:1px solid #e74c3c;
	
}




/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }


.selected{
	background:#e74c3c;
	opacity: 0.8;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:100%;
	height:20%;

}


.leftlyf{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:90%;
	height:100%;
	text-align: center;
	font-size: 1em;

}
.rightlyf{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:10%;
	height:100%;
	text-align: center;

}

.rightlyf button{
	width:100%;
	height: 100%;
}


.bla{
		position: relative;
	
	
	width:50%;
	height: 30%;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;

}
.timepicker{
	position: relative;
	
	
	width:50%;
	height: 30%;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;

}

.sliderInput{
	font-size: 4em;
	width:100%;
	height: 100%;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;

}





.buttons{
	background:#d35400;
	width:100%;
	height: 15%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;
	display: table;
	
	

}
.buttonprufa{
	display: table-cell;
	vertical-align: middle;

}

.plusbutton {
	
	-moz-box-shadow: 0px 1px 2px 1px #97c4fe;
	-webkit-box-shadow: 0px 1px 2px 1px #97c4fe;
	box-shadow: 0px 1px 2px 1px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-radius-bottomright:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-moz-border-radius-bottomleft:14px;
	border-bottom-left-radius:14px;
	text-indent:0px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:52px;
	font-weight:bold;
	font-style:normal;
	height:82px;
	line-height:82px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #1570cd;
}
.plusbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.plusbutton:active {
	position:relative;
	top:1px;
}



.drugSelectContainar p{
	
	text-align: center;
}
.drugSelect{
	width:100%;
	
	
}
.drugSelect button{
	width:100%;
	font-size: 3em;
	height: 100%;
}

@media only screen and (max-width: 780px)
		{

.buttons{
	width:50%;
	height: 15%;
	
}
.timepicker{
	height: 25%;
}
.lyfvalinn{
	height:40%;

}
.graf{
	height: 50%;
}
.header{
	height: 10%;
}
}