html,body{
	min-height: 100%;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	
}


.container {
    margin-left: auto;
	margin-right: auto;
	max-width: 1026px;
	width: 100%;
	overflow: hidden;
	
	height:100%;
	position: relative;
	display: block;
	/*padding: 0.2em;*/
	
	


}

.container2 {
    margin-left: auto;
	margin-right: auto;
	max-width: 1026px;
	width: 100%;
	overflow: hidden;
	
	
	position: relative;
	display: block;
	/*padding: 0.2em;*/
	
	


}

.hiddendiv {
	display:none;
}

.header{
	/*background:#d35400;*/
	background: rgb(212,228,239); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	width: 100%;
	height: 10%;
	position: relative;
	
	overflow:hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;
	vertical-align: middle;

}


.header-text{
	width:90%;
	height:100%;
	float:left;
	margin:auto;

}

.header-text h1{
	
	margin-left: 11%;
}

.header-settings{
	width:10%;
	height:100%;
	float:left;

}
.header-settings h1{
	
}

.graf{
	background:#ecf0f1;
	width: 100%;
	height: 45%;
	overflow:hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;

}

.grafbutton{
	position: absolute;
	top:8%;
	z-index: 999;
	height:15%;
	width:15%;
	cursor: pointer;

}
.grafbutton:hover{
	-moz-box-shadow: 0 0 5px #ccc;
	 -webkit-box-shadow: 0 0 5px #ccc;
	 box-shadow: 0 0 5px #ccc;

}


#haegri{
	left:86%;}

#vinstri{
	left:0%;
}

.lyfvalinn{
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



	width:50%;
	
	height: 30%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}

.lyf{
	/*background:#27ae60;*/
	background:#C8C8C8;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:100%;
	height:20%;
	/*border:1px solid #2ecc71;*/
	font-weight: bold;
	
}
.lyf2{
	/*background:#c0392b;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:100%;
	height:20%;
	/*border:1px solid #e74c3c;*/
	font-weight: bold;
	
}




/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }


.selected{
	/*background:#e74c3c;*/
	opacity: 0.5;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:100%;
	height:20%;
	border: 3px solid white;

}

.unchecked {
	opacity: 0.5;
	background-color: gray !important;
	font-style: italic;
}

.hide {
	display:none;
}


.leftlyf{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:75%;
	height:100%;
	text-align: center;
	font-size: 1em;
	border: 2.5px solid black;
	cursor: pointer;

}

.checkbox{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:10%;
	height:100%;
	/*text-align: center;*/
	border: 2.5px solid black;

}

.checkbox input {
	margin-left: 35%;
	margin-top: 25%;
}

.remove{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:15%;
	height:100%;
	text-align: center;

}

.remove button{
	width:100%;
	height: 100%;
	font-size: 1em;
	font-weight: bold;
}

.addDrug {
	height: 100%;
	width: 100%;
}

#addDrugButton {
	height: 100%;
	width: 100%;
	font-size: 1.5em;
}

/*
.bla{
		position: relative;
	
	
	width:50%;
	height: 30%;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;

}*/
.timepicker{
	position: relative;
	
	
	width:50%;
	height: 30%;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;

}



.sliderInput{
	font-size: 4em;
	width:100%;
	height: 80%;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;

}

#MainSlider{
	cursor: pointer;
	text-align: center;
	font-size: 4em;
	width:100%;
	height:20%;
	overflow: hidden;

		-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;
}





.buttons{
	/*background:#d35400;*/

	background: rgb(212,228,239); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	width:100%;
	height: 15%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	text-align: center;
	display: table;
	
	

}
.buttonprufa{
	display: table-cell;
	vertical-align: middle;

}

.plusbutton {
	
	-moz-box-shadow: 0px 1px 2px 1px #97c4fe;
	-webkit-box-shadow: 0px 1px 2px 1px #97c4fe;
	box-shadow: 0px 1px 2px 1px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-radius-bottomright:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-moz-border-radius-bottomleft:14px;
	border-bottom-left-radius:14px;
	text-indent:0px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:52px;
	font-weight:bold;
	font-style:normal;
	height:82px;
	line-height:82px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #1570cd;
}
.plusbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.plusbutton:active {
	position:relative;
	top:1px;
}

.mainContainer{
	display: none;
}

.drugSelectContainer p{
	
	text-align: center;
}
.drugSelect{
	width:100%;
	font-size: 0.8em;
	margin: 0 auto;
	
	
}
.drugSelect button{
	width:100%;
	font-size: 2.5em;
	height: 100%;
}


html,body{
	min-height: 100%;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background:blue;
	
}




.Logoheader{
	width:100%;
	height:40%;
	
	overflow: hidden;
	


}



.hiddendiv img{
	display:none;
}

.contentContain{
	width:100%;
	
	
	text-align: center;
}

.info2{
	width:70%;
	
	text-align: center;
	background: red;
	margin-left: auto;
		margin-right: auto;
}

.buttons2{
	/*background:#d35400;*/

	background: rgb(212,228,239); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	width:20%;
	height: 15%;
	
	text-align: center;
	
	}




@media only screen and (max-width: 780px)
		{

.buttons{
	width:50%;
	height: 15%;
	
}
.timepicker{
	height: 25%;
}
.lyfvalinn{
	height:40%;

}
.graf{
	height: 50%;
}
.header{
	height: 10%;
}
.sliderInput{
	font-size: 2.5em;

}

.drugSelect{
	font-size: 0.65em;
}
}