

<div id="loadingIcon" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-3x"></span></br>
				<span>Sæki gögn..</span>
				</div>
<div class = "container2 noselect" ng-hide="loading" ng-class ="{slideLeft: isSettingsMenu, settingsColor: isSettingsMenu}" >
	<div class = "header">

		<div class = "header-text">
			<span class = "usernameHeader">{{userName}}</span>
			<h1>DrugMix</h1>
		</div>
		<div class = "header-settings">
			<a ng-class = "{settingsOn: isSettingsMenu}" ng-click = "showSettingsMenu()">&#9776;</a>
		</div>
	</div>
	<div class ="settingsContainer" ng-class ="{desktop: !isSettingsMenu}">
		<div class = "header" ng-class ="{desktop: isSettingsMenu}">
			<span class = "usernameHeader settingsHeader">halli</span>
		</div>

		<div class = "settingsContent">
			<ul class = "optionsList" ng-hide ="isCalibrate || isSettings">
				<li class = "options" ng-click = "showSettings()" id = "top">Stillingar</li>
				<hr>
				<li class = "options" ng-click = "showCalibrate()">Upplýsingar fyrir útreikninga</li>
				<hr>
				<li ng-click = "logOutFunc()" class = "options logout">Útskrá</li>
			</ul>

			<div id ="settings" ng-show ="isSettings">
				<ul class ="optionsList">
					<li class = "options" id ="top" ng-click = "showSettings()">Stillingar</li>
					<hr>
				</ul>
				<div class = "optionsContent" id = "settingsContent">
					
					<div class = "settingsClick" ng-click = "doTh">
						<span class = "mainSpan">Setja á auto-pilot</span>
						<input class ="graph_input" type="checkbox" ng-model="repeatOn">
                  	</div>

                  	<div class = "settingsClickHeader" >
                  		<span class = "mainSpan"> Stilla tímaása á grafi</span>
                  	</div>

                  	 <div class = "settingsClick" ng-click = "doTh">
	                  	<span class = "underSpan">Upphafstími:</span>
	                  	<select id = "graphStartTime" class = "graph_start" ng-model = "optionStartTime">
						  <option value="0" selected="selected">00</option>
						  <option value="1">01</option>
						  <option value="2">02</option>
						  <option value="3">03</option>
						  <option value="4">04</option>
						  <option value="5">05</option>
						  <option value="6">06</option>
						  <option value="7">07</option>
						  <option value="8">08</option>
						  <option value="9">09</option>
						  <option value="10">10</option>
						  <option value="11">11</option>
						  <option value="12">12</option>
						  <option value="13">13</option>
						  <option value="14">14</option>
						  <option value="15">15</option>
						  <option value="16">16</option>
						  <option value="17">17</option>
						  <option value="18">18</option>
						  <option value="19">19</option>
						  <option value="20">20</option>
						  <option value="21">21</option>
						  <option value="22">22</option>
						  <option value="23">23</option>
						</select>
                  	</div>

               		 <div class = "settingsClick" ng-click = "doTh">

	                  	<span class = "underSpan">Lokatími:</span>
	                  	<select id = "graphEndTime" class = "graph_start" ng-model = "optionEndTime">
						  <option value="1">01</option>
						  <option value="2">02</option>
						  <option value="3">03</option>
						  <option value="4">04</option>
						  <option value="5">05</option>
						  <option value="6">06</option>
						  <option value="7">07</option>
						  <option value="8">08</option>
						  <option value="9">09</option>
						  <option value="10">10</option>
						  <option value="11">11</option>
						  <option value="12">12</option>
						  <option value="13">13</option>
						  <option value="14">14</option>
						  <option value="15">15</option>
						  <option value="16">16</option>
						  <option value="17">17</option>
						  <option value="18">18</option>
						  <option value="19">19</option>
						  <option value="20">20</option>
						  <option value="21">21</option>
						  <option value="22">22</option>
						  <option value="23">23</option>
						  <option value="24" selected="selected">24</option>
						</select>
	                </div>
	                <button id ="settingsConfirm" ng-click="applySettings()">VISTA</button>

	                <p class="errorMsg" 
						        ng-show="invalidTimeError">
						        Upphafstími verður að vera lægri en lokatími.
					</p>		
				</div>
			</div>

			<div id ="calibration" ng-show ="isCalibrate">
				<ul class ="optionsList">
					<li class = "options" id ="top" ng-click = "showCalibrate()">Upplýsingar fyrir útreikninga</li>
					<hr>
				</ul>
				<div class = "optionsContent" id = "calibrationContent">
					<div class = "settingsClick" ng-click = "doTh">
						<span class = "mainSpan">Hæð (cm):</span>
						<span id="heightSpan" class = "underSpan" ng-show="!changingHeight">180</span>
						<input id ="heightInput" class ="informationInput" type="number" ng-show="changingHeight"></input>
						<button class ="changeInformation" ng-click = "changeHeight()" ng-show="changingHeight">TIL BAKA</button>
						<button class="confirmChange changeInformation" ng-click = "updateHeight()" ng-show="changingHeight">STAÐFESTA</button>
						<button class = "changeInformation" ng-click="changeHeight()" ng-show="!changingHeight">BREYTA</button>
                  	</div>
                  	<div class = "settingsClick" ng-click = "doTh">
						<span class = "mainSpan">Þyngd (kg):</span>
						<span id="weightSpan" class = "underSpan" ng-show="!changingWeight">75</span>
						<input id="weightInput" class ="informationInput" type="number" ng-show="changingWeight"></input>
						<button class ="changeInformation" ng-click = "changeWeight()" ng-show="changingWeight">TIL BAKA</button>
						<button class="confirmChange changeInformation" ng-click = "updateWeight()" ng-show="changingWeight">STAÐFESTA</button>
						<button class = "changeInformation" ng-click="changeWeight()" ng-show="!changingWeight">BREYTA</button>
                  	</div>
				</div>
			</div>
		</div>

	</div>
	<!-- <div class = "wrapper" style ="height: 90%; position: relative;" ng-class ="{desktop: isSettingsMenu}"> -->
	<div class = "chart" id="drug-chart" ng-class ="{desktop: isSettingsMenu}" resize>
		<img src="img/Red_Arrow_Right.png" id = "right" class = "chartButton" ng-click="moveDay('right', isSelected)"></img>
		<img src="img/Red_Arrow_Left.png" id = "left" class = "chartButton" ng-click="moveDay('left', isSelected)"></img>
		<highchart id="chart1" config="chartConfig" ng-swipe-left="swipeGraph('right')" ng-swipe-right="swipeGraph('left')" ng-swipe-disable-mouse ></highchart>
	</div>



	
	<div class = "drugContainer" ng-class ="{desktop: isSettingsMenu}">
		
		<div id = "leftContent">
			<div id = "allDrugs">
				<div class = "singleDrug" ng-repeat ="drug in chartConfig.series | orderObjectBy:'graphTime':true" id = "id_{{drug.name}}" ng-hide ="drug.name === 'sumGraph' || drug.show === false || (isSelected !== null && drug.id !== isSelected) ">

						<div class = "checkbox" ng-class = "{unchecked: !drug.checked}" ng-style="{'background-color' : drug.color}">
							<input type="checkbox" ng-model="drug.checked" ng-change="clickCheckbox(drug.id, drug.checked)" ng-checked="drug.checked"></input>
						</div>

						<div class = "drugContent" ng-click ="setSelected(drug.id)"  ng-class = "{selected : drug.id == isSelected && drug.checked, unchecked: !drug.checked}" ng-style="{'background-color' : drug.color}" >
							<span>{{drug.name}} - {{drug.stringTime}}</span>
						</div>

						<div class = "remove" id = "id_{{drug.name}}">
							<button type = "button" ng-style="{'background-color' : drug.color}" ng-class = "{unchecked: !drug.checked}" ng-click="removeDrug(drug.id)"> X </button>
						</div>
				</div>
			</div>

			<div class = "addDrug" ng-hide = "isSelected !== null" ng-show = "isSelected === null">
				<!-- <div class = "addDrug"> -->
					<button id="addDrugButton" type = "button" ng-click= clickToOpen()> + </button>
				<!-- </div> -->
			</div>

			<div ng-hide="isSelected === null" id="timepicker" ng-class ="{desktop: isSettingsMenu}">
				<input id="mobiscroller" mobiscroll="mobiscrollConfig" ng-model="clock_time" update="updateFromScroll">
			</div>
			<div id = "confirm" ng-hide="isSelected === null" ng-class ="{desktop: isSettingsMenu}">
				<button ng-click="save(isSelected)">VISTA</button>
				<button id ="cancelButton" ng-click="cancel(isSelected)">TIL BAKA</button>
			</div>

		</div>
		<div id = "rightContent">
			<div class = "buttons" ng-class ="{desktop: isSettingsMenu}">

				<div class = "calibration">
					<button ng-disabled = "!happy" class = "smiley" id="happy" ng-click="updateStatusTime()">&#x263a;</button>
				</div>
				<div class = "calibration">
					<button ng-disabled ="happy" class = "smiley" id="sad" ng-click="updateStatusTime()">&#x2639;</button>
				</div>
			</div>
		</div>
	</div>


	


	
<!-- </div> -->

</div>

