<div class = "settingsContainer" ng-hide = "toogleMenu === false" ng-show = "toogleMenu === true">

	<h1> textiaoegoaeirghoaeg</h1>

</div>

<div id="loadingIcon" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-3x"></span></br>
				<span>Sæki gögn..</span>
				</div>
<div class = "container2" ng-hide="loading" >
	<div class = "header">

		<div class = "header-text">
			<h1>DrugMix</h1>
		</div>
		<div class = "header-settings">
			<a ng-click = "toogleClass()">&#9776;</a>
		</div>
	</div>


	<div class = "graf" id="drug-chart" resize>
		<img src="img/Red_Arrow_Right.svg" id = "haegri" class = "grafbutton" ng-click="moveDay('right')"></img>
		<img src="img/Red_Arrow_Left.svg" id = "vinstri" class = "grafbutton" ng-click="moveDay('left')"></img>
		<highchart id="chart1" config="chartConfig" ng-swipe-left="swipeGraph('right')" ng-swipe-right="swipeGraph('left')" ng-swipe-disable-mouse ></highchart>
	</div>

	
	<div class = "lyfvalinn">
		
		<div class = "lyf2" ng-repeat ="drug in drugs" id = "id_{{drug.name}}" ng-class = "{hide: drug.show === false || drug.id !== isSelected, show: isSelected === null && drug.show === true}">
			
				<div class = "checkbox" ng-class = "{unchecked: !drug.checked}" ng-style="{'background-color' : drug.color}">
					<input type="checkbox" ng-model="drug.checked" ng-change="clickCheckbox(drug.id, drug.checked)" ng-checked="drug.checked"></input>
				</div>

				<div class = "leftlyf" ng-click ="setSelected(drug.id)"  ng-class = "{selected : drug.id == isSelected && drug.checked, unchecked: !drug.checked}" ng-style="{'background-color' : drug.color}" >
					<span>{{drug.name}} || {{drug.amount}} || {{drug.stringTime}}</span>
				</div>

				<div class = "remove" id = "id_{{drug.name}}">
					<button type = "button" ng-style="{'background-color' : drug.color}" ng-class = "{unchecked: !drug.checked}" ng-click="removeDrug(drug.id)"> X </button>
				</div>
		</div>

		<div class = "lyf" ng-hide = "isSelected !== null" ng-show = "isSelected === null">
			<div class = "addDrug">
				<button id="addDrugButton" type = "button" ng-click= clickToOpen()> + </button>
			</div>

		</div>

	</div>


	<div ng-hide="isSelected === null" id="timepicker">
		<input id="mobiscroller" mobiscroll="mobiscrollConfig" ng-model="clock_time" update="updateFromScroll">
		<!-- <input type = "text" class = "sliderInput" id = "prufadot" ng-model= "clock_time" readonly ></input>
		<div id = "MainSlider">
		</div> -->
	</div>
	<div id = "confirm" ng-class = "{hide: isSelected === null}">
		<button ng-click="save(isSelected)">VISTA</button>
	</div>


	<div class = "buttons">
		<div class = "calibration">
			<button class = "smiley" id="happy" ng-click="">&#x263a;</button>
		</div>	
		<div class = "calibration">
			<button class = "smiley" id="sad" ng-click="">&#x2639;</button>
		</div>
	</div>
</div>