<div class ="drugSelectContainer ">


<p> contents</p>
<div class = "drugSelect" id = "">
	<button ng-click=" drugs.push({name:'Lyf 1' , amount: '2 mg'}) && closeThisDialog()"> Lyf1 - 2mg </button>

</div>
<div class = "drugSelect" id = "">
	<button ng-click=" drugs.push({name:'Lyf 2' , amount: '4 mg'}) && closeThisDialog()"> Lyf2 - 4mg </button>

</div>
<div class = "drugSelect" id = "">
	<button  ng-click=" drugs.push({name:'Lyf 3' , amount: '2 mg'}) && closeThisDialog()"> Lyf3 - 2mg 
	</button>


</div>
<div class = "drugSelect" id = "">
	<button ng-click=" drugs.push({name:'Lyf 4' , amount: '3 mg'}) && closeThisDialog()"> Lyf4 - 3mg </button>
	

</div>





</div>
