<div class ="drugSelectContainer ">


<p>Lyf</p>
<div class = "drugSelect" id = "">
	<button ng-click="fetch(1); closeThisDialog()"> Lyf 1 - 2 mg </button>

</div>
<div class = "drugSelect" id = "">
	<button ng-click="fetch(2); closeThisDialog()"> Lyf 2 - 4 mg </button>

</div>
<div class = "drugSelect" id = "">
	<button  ng-click="fetch(3); closeThisDialog()"> Lyf 3 - 2 mg 
	</button>


</div>
<div class = "drugSelect" id = "">
	<button ng-click="fetch(4); closeThisDialog()"> Lyf 4 - 3 mg </button>
	

</div>





</div>
